<mat-toolbar class='mat-elevation-z8 d-flex align-items-center' color="primary">
  <h3 class="fw-bolder">My Posted Jobs</h3>
  <button mat-icon-button class="ms-auto" (click)="openJobForm()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="container my-3">
  <div class="row">
    <div class="col-md-6 col-12" *ngFor="let job of jobs">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="d-flex w-100">
              <p class="mb-0">{{job?.title}}</p>
              <p class="ms-auto me-5 mb-0 text-muted">deadline at {{job?.deadline | date}}</p>
            </div>
          </mat-expansion-panel-header>
          <p class="mt-2">Company Name</p>
          <p class="text-muted">{{job?.companyName}}</p>
          <mat-divider class="w-100"></mat-divider>
          <p class="mt-2">Location</p>
          <p class="text-muted">{{job?.location}}</p>
          <mat-divider class="w-100"></mat-divider>
          <p class="mt-2">Description</p>
          <div class="text-muted" [innerText]="job?.description"></div>
          <mat-divider class="w-100"></mat-divider>
          <div class="d-flex gap-3">
            <button mat-stroked-button color="warn" class="w-100 mt-2" (click)="deleteJob(job['ID'])">Remove Job</button>
            <button mat-stroked-button color="accent" class="w-100 mt-2">Edit Job</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
